
:root {
    --background-color: white;
}

@font-face {
    font-family: "Swansea";
    src: url(Swansea-q3pd.ttf);
}

html {
    background-color: rgb(229, 246, 252);
    font-family: "Swansea", serif;
}

#Experiences li {
    width: 55dvw;
}

h1, h2 {
    text-align: center;
}

h1:has(+ h2) {
    margin-bottom: 2%;
}

nav ul{
    display: flex;
    padding: 0;
}

nav ul li{
    flex: auto;
    margin: 10px;
    width: 15dvw;
    padding: 15px;
    display: grid;
    border: 0.1em solid color(xyz 0 0 0 );
    background-color: lightgray;
}

nav ul li a{
    text-align: center;
    font-size: 2rem;
}

nav ul li:hover {
    background-color: var(--background-color);
    outline: solid 0.2rem black;
    transition: outline 1s;
}

nav ul li a:hover {
    background-color: var(--background-color);
}

picture img{
    float: right;
    width: 25dvw;
    height: 32dvw;
    margin-right: 7%;
    margin-bottom: 5%;
}

p {
    line-height: 150%;
    width: 60dvw;
}

@media screen and (max-width: 900px) {
    nav {
        float: right;
    }

    nav ul{
        display: grid;
        justify-content: end;
        margin-top: 0;
    }

    nav ul li{
        width: 20dvw;
        margin: 15px 10px;
    }

    nav ul li a{
        font-size: 1rem;
    }

    picture img {
        float: none;
        width: 35dvw;
        height: 45dvw;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-top: 5%
    }
}